# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/
ENV/
.venv/

# Django
*.log
db.sqlite3
db.sqlite3-journal
/static/
/staticfiles/

# Médias et stockage
/media/
/secure_storage/documents/
/secure_storage/profile_pictures/
/audit_logs/
/quarantine/

# IDE
.idea/
.vscode/
.vs/
*.swp
*.swo
*~
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db
desktop.ini

# Fichiers temporaires
*.tmp
*.temp
*.bak
*.backup

# Tests
.pytest_cache/
.coverage
htmlcov/
*.cover

# Distribution / packaging
dist/
build/
*.egg-info/


.env
